{{#each foldersObj}}
<div class="nav-unit {{className}}">
    <img class='project-prev hidden {{className}}'  src="/{{folder}}/screenshot.png" alt="">
    <div class="project-name">
        <a class='project-link'  href="/projects/{{folder}}/description">{{name}}</a>
    </div>
</div>

{{/each}}
