<section class='flex'>
    <div class='project-description'>
        <h3>{{json.name}}</h3>
        <p>{{json.description}}</p>
        <p> {{json.technologies}}</p>
        <a target="_blank" href="{{fullProj}}">See the full project</a>
    </div>

    <div class="project-image">
        <img src="{{image}}" alt="Image of the {{json.name}} project">
    </div>

<section>

<div class="hidden">
    {{> nav}}
</div>
